@use "../../../presets" as *;
@use "../../../mixins" as *;

.achievement {
  display: flex;
  gap: $gap-xl;
  position: relative;

  @include lg-min {
    flex-direction: column;
    max-width: 391px;
  }

  @include lg-md {
    justify-content: space-evenly;
  }

  @include md {
    flex-direction: column;
  }

  &::before {
    content: "";
    position: absolute;
    background-color: $color-grey-separator;

    @include lg-min {
      height: 310px;
      left: -24px;
      top: 7px;
      width: 4px;
    }

    @include lg {
      width: 100%;
      height: 4px;
      top: -20px;
    }
  }

  &__item {
    display: grid;
    grid-template-areas: "icon title" "text text";
    gap: 10px;
    grid-template-columns: 23px 1fr;
    align-items: center;

    @include lg-md {
      max-width: 200px;
    }
  }

  &__title {
    line-height: 1.16;
    font-size: 36px;
    background: linear-gradient($color-gradient-redtext);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    width: max-content;
    max-width: 100%;
    grid-area: title;

    // @include lg-min {
    //   font-size: 36px;
    // }

    // @include lg {
    //   font-size: 30px;
    // }
  }

  &__text {
    font-size: 18px;
    line-height: 1.16;
    color: $color-main;
    grid-area: text;
  }

  &__icon {
    grid-area: icon;
    padding-top: 3px;
  }

  &__icon-image {}
}