@use "../../../presets" as *;
@use "../../../mixins" as *;

.advantages {

  @include lg-min {
    padding: 80px 0 100px;
  }

  @include lg-md {
    padding: 50px 0 50px;
  }

  @include md {
    padding: 27px 0 34px;
  }

  &__content {
    display: flex;

    @include lg-min {
      gap: 62px;
    }

    @include lg {
      flex-direction: column;

      gap: 35px;
    }
  }
}