@use "../../../presets" as *;
@use "../../../mixins" as *;

.advantages {

  @include md-min {
    padding: 80px 0 100px;
  }

  @include md {
    padding: $gap 0 34px;
  }

  &__content {
    display: flex;

    @include lg-min {
      gap: 62px;
    }

    @include lg {
      flex-direction: column;
      gap: 35px;
    }
  }
}