@use "../../../presets" as *;
@use "../../../mixins" as *;

.introduction {
  display: flex;
  flex-direction: column;

  max-width: 641px;

  gap: $gap;

  @include lg-md {
    margin-right: auto;
    margin-left: auto;

    text-align: center;
  }

  &__title {
    margin: 0;

    background: linear-gradient($color-gradient-redtext);
    -webkit-background-clip: text;
    background-clip: text;

    line-height: 1.19;

    -webkit-text-fill-color: transparent;

    @include md-min {
      font-size: 42px;
    }

    @include md {
      font-size: 32px;
    }
  }

  &__text {
    color: $color-black;

    line-height: 1.43;

    @include md-min {
      font-size: 21px;
    }

    @include md {
      font-size: 18px;
    }
  }
}