@use "../../../presets" as *;
@use "../../../mixins" as *;

.squad-items {
  display: grid;

  @include lg-min {
    grid-template-columns: repeat(3, 1fr);
    gap: $gap-xl;
  }

  @include lg-sm {
    grid-template-columns: repeat(2, 1fr);
    gap: $gap-xl $gap;
    justify-items: center;
  }

  @include sm {
    grid-template-columns: 1fr;
    gap: $gap;
  }
}

.squad-item {
  display: flex;
  gap: $gap;
  max-width: 413px;

  @include sm-min {
    flex-direction: column;
  }

  @include sm {

    &:nth-of-type(4) {
      order: 3;
    }

    &:nth-of-type(5) {
      order: 2;
    }
  }

  &__notes {
    display: flex;

    @include sm-min {
      justify-content: space-between;
      align-items: center;
    }

    @include sm {
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
    color: $color-main;

    @include sm {
      margin-bottom: 5px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.38;
    color: $color-grey-text;

    @include sm {
      margin-bottom: 10px;
    }
  }

  &__picture {
    order: -1;

    @include sm-min {
      width: 100%;
    }

    @include sm {
      max-width: 158px;
    }
  }

  &__image {
    display: block;
    border-radius: 12px;
    width: 100%;
  }
}