@use "../../../presets" as *;
@use "../../../mixins" as *;

.squad-items {
  display: grid;

  @include lg-min {
    gap: $gap-xl;
    grid-template-columns: repeat(3, 1fr);
  }
  @include lg-sm {
    gap: $gap-xl $gap;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  @include sm {
    gap: $gap;
    grid-template-columns: 1fr;
  }
}

.squad-item {
  display: flex;

  max-width: 413px;

  gap: $gap;
  @include sm-min {
    flex-direction: column;
  }
  @include sm {
    &:nth-of-type(4) {
      order: 3;
    }

    &:nth-of-type(5) {
      order: 2;
    }
  }

  &__notes {
    display: flex;

    @include sm-min {
      align-items: center;
      justify-content: space-between;
    }
    @include sm {
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-end;
    }
  }

  &__title {
    color: $color-main;

    font-size: 18px;
    font-weight: 500;
    line-height: 1.16;

    @include sm {
      margin-bottom: 5px;
    }
  }

  &__text {
    color: $color-grey-text;

    font-size: 16px;
    line-height: 1.38;

    @include sm {
      margin-bottom: 10px;
    }
  }

  &__picture {
    order: -1;

    @include sm-min {
      width: 100%;
    }
    @include sm {
      max-width: 158px;
    }
  }

  &__image {
    display: block;

    width: 100%;

    border-radius: 12px;
  }
}
