@use "../../../presets" as *;
@use "../../../mixins" as *;

.about-menu {
  &__btn {
    &-row {
      background: $color-main;
    }
  }

  &__link {
    color: $color-active-regular;

    &.-active {
      padding: 0.25em 0 0;

      color: $color-accent;
      border-bottom: 2px solid $color-accent;
    }
  }
}
