@use "../../../presets" as *;
@use "../../../mixins" as *;


.about-actions {

  @include md-min {
    justify-content: flex-end;

    a {
      color: $color-grey-text;
    }
  }

  @include md {
    justify-content: space-between;

    a {
      color: $color-grey-text;
    }
  }

  &__locations {
    @include lg {
      display: none;
    }

    &-link {
      font-style: normal;
    }
  }
}