@use "../../../presets" as *;
@use "../../../mixins" as *;

.menu-light {
  &__btn {
    &-row {
      background: $color-main;
    }
  }

  &__list {

    @include lg-min {
      gap: $gap-md;
    }


    @include lg-md {
      gap: 11px;
    }
  }

  &__link {
    color: $color-active-regular;

    &.-active {
      padding: 0.25em 0 0;

      color: $color-accent;
      border-bottom: 2px solid $color-accent;
    }
  }
}