@use "../../../presets" as *;
@use "../../../mixins" as *;

.menu-light {
  &__btn {
    @include sm-min {
      top: -25px;
    }

    @include sm {
      top: -20px;
    }

    &.active {
      position: fixed;
      right: 20px;

      @include md-sm {
        top: 65px;
      }

      @include sm {
        top: 61px;
      }
    }
  }

  &__list {
    @include lg-min {
      gap: $gap-md;
    }

    @include lg-md {
      gap: 11px;
    }
  }

  &__link {
    color: $color-active-regular;

    &.-active {
      @include md-min {
        padding: 0.25em 0 0;
        border-bottom: 2px solid $color-accent;
      }

      color: $color-accent;
    }
  }
}