@use "../../../presets" as *;
@use "../../../mixins" as *;

.quality {
  @include lg-min {
    padding: 80px 0 93px;
  }

  @include lg-md {
    padding: 50px 0 50px;
  }

  @include md {
    padding: $gap 0 $gap-xl;
  }

  &__wrap {
    display: flex;

    @include md-min {
      gap: $gap-xl;
    }

    @include md {
      flex-direction: column;

      gap: $gap;
    }
  }

  &__title {
    order: 1;

    background: linear-gradient($color-gradient-redtext);
    -webkit-background-clip: text;
    background-clip: text;

    line-height: 1.19;

    @include lg-min {
      font-size: 42px;
    }

    @include lg-md {
      font-size: 37px;
    }

    @include md {
      font-size: 32px;
    }

    -webkit-text-fill-color: transparent;
  }

  &__description {
    display: flex;
    flex-direction: column;

    max-width: 641px;

    gap: $gap;
  }

  &__text {
    color: $color-black;

    line-height: 1.43;

    @include lg-min {
      font-size: 21px;
    }

    @include lg-md {
      font-size: 20px;
    }

    @include md {
      font-size: 18px;
    }
  }
}