@use "../../../presets" as *;
@use "../../../mixins" as *;


.cases {
  margin-bottom: $gap-lg;

  &__grid {
    display: grid;
    gap: 2px;

    @include lg-min {
      grid-template-columns: minmax(auto, 316px) minmax(auto, 113px) minmax(auto, 340px) minmax(auto, 114px) minmax(auto, 433px);
      grid-template-rows: minmax(57px, auto) minmax(196px, auto) minmax(198px, auto);
    }

    @include lg-md {
      grid-template-columns: repeat(2, 1fr);
    }

    @include md {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__title {
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-accent;
    background: $color-grey-bg;
    padding: 20px;

    @include lg-min {
      grid-column: 1 / 3;
      grid-row: 1;
      border-radius: 12px 0 0 0;
    }

    @include lg-md {
      border-radius: 12px 12px 0 0;
      grid-column: 1 / 3;
      text-align: center;
    }

    @include md {
      border-radius: 12px 12px 0 0;
    }
  }

  &__wrapper-one {
    padding-right: 5px;

    @include lg-min {
      grid-row: 2;
      grid-column: 1 / 3;
    }
  }

  &__wrapper-two {

    @include lg-min {
      grid-row: 1 / 3;
      grid-column: 3 / 5;
    }
  }

  &__wrapper-three {

    @include lg-min {
      grid-row: 1 / 3;
      border-radius: 0 12px 0 0;
    }
  }

  &__wrapper-four {

    @include lg-min {
      border-radius: 0 0 0 12px;
    }
  }

  &__wrapper-five {

    @include lg-min {
      grid-column: 2 / 4;
    }

    @include lg-md {
      border-radius: 0 0 0 12;
    }
  }

  &__wrapper-six {

    @include lg-min {
      grid-column: 4 / 6;
      border-radius: 0 0 12px 0;
    }

    @include lg-md {
      border-radius: 0 0 12px 0;
    }

    @include md {
      border-radius: 0 0 0 12px;
    }
  }
}