@use "../../../presets" as *;
@use "../../../mixins" as *;

.clients {
  &__title {
    margin-bottom: $gap-lg;

    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: $color-main;

    font-size: 14px;
    line-height: 1.21;
  }

  &__grid {
    display: grid;

    @include lg-min {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: minmax(auto, 120px) minmax(auto, 120px) minmax(auto, 120px);
    }
    @include lg-md {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: minmax(auto, 120px) minmax(auto, 120px) minmax(auto, 120px) minmax(auto, 120px);
    }
    @include md {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: minmax(auto, 90px) minmax(auto, 90px) minmax(auto, 90px) minmax(auto, 90px) minmax(auto, 90px) minmax(auto, 90px);
    }
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: center;


    &:first-of-type {
      background: #1c4280;

      @include md {
        order: -6;
      }
      @include xs {
        padding: 0 $gap-md;
      }
    }

    &:nth-of-type(2) {
      background: #143646;

      @include md {
        order: -5;
      }
      @include xs {
        padding: 0 $gap-sm;
      }
    }

    &:nth-of-type(3) {
      background: #f48b30;

      @include md {
        order: -4;
      }
      @include xs {
        padding: 0 $gap-md;
      }
    }

    &:nth-of-type(4) {
      background: #9e4dc3;

      @include md {
        order: -3;
      }
      @include xs {
        padding: 0 $gap;
      }
    }

    &:nth-of-type(5) {
      background: #fd9339;

      @include xs {
        padding: 0 $gap;
      }
    }

    &:nth-of-type(6) {
      background: #e2e2e4;

      @include md {
        order: 5;
      }
      @include xs {
        padding: 0 $gap-lg;
      }
    }

    &:nth-of-type(7) {
      background: #c71c36;

      @include md {
        order: -1;
      }
      @include xs {
        padding: 0 $gap-xl;
      }
    }

    &:nth-of-type(8) {
      background: #dcf3f9;

      @include md {
        order: -2;
      }
      @include xs {
        padding: 0 $gap-xl;
      }
    }

    &:nth-of-type(9) {
      background: #eaeaea;

      @include md {
        order: 1;
      }
      @include xs {
        padding: 0 35px;
      }
    }

    &:nth-of-type(10) {
      background: #282240;

      @include md {
        order: 4;
      }
      @include xs {
        padding: 0 $gap-lg;
      }
    }

    &:nth-of-type(11) {
      background: #1d4568;

      @include md {
        order: 3;
      }
      @include xs {
        padding: 0 25px;
      }
    }

    &:last-of-type {
      background: $color-black;

      @include md {
        order: 2;
      }
      @include xs {
        padding: 0 $gap-lg;
      }
    }

    &__image {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }
}
