@use "../../../presets" as *;
@use "../../../mixins" as *;

.menu {

  &__list {
    @include unlist;
    display: flex;
    justify-content: flex-end;
    gap: $gap-md;
  }

  &__link {
    font-size: 18px;
    color: $color-white;
    display: block;
    padding: 0.25em 0;
  }
}