@use "../../../presets" as *;
@use "../../../mixins" as *;

.menu {
  position: relative;

  &.active {
    display: flex;
    justify-content: flex-end;

    &::before {
      content: "";
      position: fixed;
      inset: 0 0 0 0;
      background: $color-main;
      opacity: 0.7;
    }
  }

  &-btn {
    background-color: $color-grey-bg-alt;

    @include md {
      width: 32px;
      height: 32px;
      cursor: pointer;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 3px;
      position: absolute;
      right: 0;

      span {
        width: 20px;
        height: 3px;
        display: block;
        background-color: $color-main;
        transition: 0.3s;
      }
    }

    @include sm-min {
      top: -5px;
    }

    @include sm {
      top: -15px;
    }

    &.active {
      position: fixed;
      right: 20px;

      @include md-sm {
        top: 86px;
      }

      @include sm {
        top: 64px;
      }

      span:nth-child(1) {
        display: none;
      }

      span:nth-child(2) {
        transform: translateY(3px) rotate(45deg);
        background-color: #EC6F5D;
      }

      span:nth-child(3) {
        transform: translateY(-3px) rotate(-45deg);
        background-color: #EC6F5D;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: flex-end;
    animation-name: down-up;
    animation-duration: 0.7S;

    gap: $gap-md;
    @include unlist;

    @include md {

      background: $color-white;
      border-radius: 12px 12px 0px 0px;

      display: none;

      padding: $gap-lg;

      @keyframes down-up {
        0% {
          position: fixed;
          right: 0;
          left: 0;
          bottom: -100%;
        }

        10% {
          position: fixed;
          right: 0;
          left: 0;
          bottom: -50%;
        }

        100% {
          position: fixed;
          right: 0;
          left: 0;
          bottom: 0;
        }
      }

      &.active {
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 2;
      }

    }
  }


  &__link {
    display: block;
    color: $color-white;

    transition: 0.4s;

    &:hover {
      color: $color-accent;
    }

    @include md-min {
      padding: 0.25em 0;

      font-size: 18px;
    }

    @include md {
      background: $color-grey-bg;
      border-radius: 12px;
      width: 335px;
      height: 44px;
      font-weight: 500;
      font-size: 24px;
      line-height: 1.16;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 11px;
      color: $color-active-regular;
    }
  }
}