@use "../presets" as *;

%text-linear-gradient {
  background: linear-gradient(90.13deg, #ef8080 0.84%, #f0145a 99.96%);
  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
}

%link-arrow {
  display: inline-block;

  width: 12px;
  height: 12px;

  background-repeat: no-repeat;
  background-position: 5px 1px;
}

%placeholder-form {
  &::placeholder {
    color: $color-grey-text;

    font-size: 18px;
    line-height: 1.44;
  }
}

%button-lg {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  color: $color-white;
  border-radius: 12px;
  background: $color-active-regular;
  box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);

  font-size: 14px;
  font-weight: 700;
  line-height: 1.21;

  transition: 0.4s;

  &:hover {
    background: $color-active-hover;
  }

  &:active {
    background: $color-active-acting;
  }
}

%entry-field {
  padding: 10px;

  border: none;
  border-radius: 8px;
  background: $color-white;
}