@use "../presets" as *;

%text-linear-gradient {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

%link-arrow {
  display: inline-block;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  background-position: 5px 1px;
}