@use "../../../mixins" as *;
@use "../../../presets" as *;

.services {
  position: relative;

  border-radius: 0 0 12px 12px;
  background: linear-gradient($color-gradient-supersoft);
  z-index: -1;

  @include md-min {
    margin-bottom: 60px;
    padding-bottom: 80px;
  }

  @include md {
    margin-bottom: 40px;
    padding-bottom: 20px;
  }

  &::before {
    position: absolute;
    top: 100%;
    right: $gap-xl;
    left: $gap-xl;

    height: $gap;

    content: "";

    border-radius: 0 0 12px 12px;
    background: #e7e7f2;
  }

  &::after {
    position: absolute;
    top: 100%;
    right: $gap;
    left: $gap;

    height: $gap-sm;

    content: "";

    border-radius: 0 0 12px 12px;
    background: #cacadb;
  }

  &__page-link {
    letter-spacing: 1px;
    text-transform: uppercase;

    opacity: 0.5;
    color: $color-white;

    font-size: 14px;

    &::after {
      content: "";

      background-image: url(../img/LinkArrow.svg);

      @extend %link-arrow;
    }
  }

  &__title {
    width: max-content;
    max-width: 100%;

    background: linear-gradient($color-gradient-redtext);
    -webkit-background-clip: text;
    background-clip: text;

    line-height: 1.19;

    @include lg-min {
      margin-bottom: 68px;

      font-size: 42px;
    }

    @include lg-md {
      margin-bottom: 50px;

      font-size: 38px;
    }

    @include md {
      margin-bottom: $gap;

      font-size: 32px;
    }

    -webkit-text-fill-color: transparent;
  }

  &__grid {
    display: grid;

    gap: 58px 48px;

    @include xl-min {
      grid-template-columns: repeat(3, 1fr);
    }

    @include xl-md {
      grid-template-columns: repeat(2, 1fr);
    }

    @include md-min {
      gap: 58px 48px;
    }

    @include md {
      gap: 40px 48px;
      grid-template-columns: 1fr;
    }
  }

  &-item {
    @include md-min {
      display: flex;
      flex-direction: column;
    }

    @include md {
      display: grid;
      align-items: center;

      gap: $gap-sm;
      grid-template-areas: "icn ttl" "dsc dsc";
      grid-template-columns: 64px 1fr;
    }

    &__title {
      color: $color-active-regular;

      font-weight: 500;
      line-height: 1.16;

      grid-area: ttl;

      @include md-min {
        margin-bottom: $gap-md;

        font-size: 24px;
      }

      @include md {
        font-size: 18px;
      }
    }

    &__description {
      color: $color-white;

      font-family: "TT Norms";
      font-size: 18px;
      font-weight: 400;
      line-height: 1.44;

      grid-area: dsc;
    }

    &__icon {
      order: -1;

      grid-area: icn;

      @include md-min {
        max-width: 92px;
        max-height: 92px;
        margin-bottom: $gap;
      }

      @include md {
        max-width: 64px;
      }
    }

    &__image {
      width: 100%;
    }
  }
}