@use "../../../presets" as *;
@use "../../../mixins" as *;

.communications {
  &__content {
    display: flex;
    justify-content: space-between;

    @include lg-min {
      padding: 80px 0;
    }
    @include lg {
      flex-direction: column;

      padding: $gap 0 $gap-xl;

      gap: $gap-xl;
    }
  }
}
