@use "../../../presets" as *;
@use "../../../mixins" as *;

.communications-contacts {
  width: 414px;
  max-width: 100%;

  &__locations {
    position: relative;

    margin-bottom: 60px;

    &::after {
      position: absolute;
      top: 76px;
      left: 0;

      width: 100%;
      height: 4px;

      content: "";

      background: $color-grey-separator;

      @include xl-lg {
        width: 90%;
      }
    }

    &-address {
      color: $color-main;

      font-size: 21px;
      font-style: normal;
      line-height: 1.43;
    }
  }

  &__feedback {
    &-phones {
      margin-bottom: $gap;
    }

    &-link {
      color: $color-main-alt;

      font-size: 21px;
      line-height: 1.43;
    }
  }

  &__email {
    margin-bottom: 60px;

    &-link {
      color: $color-active-regular;

      font-size: 21px;
      line-height: 1.43;
    }
  }

  &__socials {
    position: relative;

    display: flex;
    align-items: center;

    gap: $gap-sm;

    &::before {
      position: absolute;
      bottom: 64px;
      left: 0;

      width: 100%;
      height: 4px;

      content: "";

      background: $color-grey-separator;

      @include xl-lg {
        width: 90%;
      }
    }

    &-text {
      letter-spacing: 1px;
      text-transform: uppercase;

      color: $color-active-regular;

      font-size: 12px;
      font-weight: 600;
      line-height: 1.33;
    }
  }
}
