@use "../../../presets" as *;
@use "../../../mixins" as *;

.communications-form {
  width: 527px;
  max-width: 100%;
  padding: $gap;

  border-radius: 12px;
  background: $color-grey-bg;

  @include lg {
    margin: auto;
  }

  &__title {
    margin-bottom: $gap;

    background: linear-gradient($color-gradient-redtext);
    -webkit-background-clip: text;
            background-clip: text;

    line-height: 1.18;

    @include sm-min {
      font-size: 32px;
    }
    @include sm {
      font-size: 22px;
    }
    -webkit-text-fill-color: transparent;
  }

  &__user {
    display: flex;
    flex-direction: column;

    &-name {
      margin-bottom: $gap;

      @extend %placeholder-form;
      @extend %entry-field;
    }

    &-message {
      margin-bottom: $gap;

      @extend %placeholder-form;
      @extend %entry-field;
    }
  }

  &__title-feedback {
    margin-bottom: $gap-sm;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: $color-grey-text;

    font-size: 14px;
    line-height: 1.21;
  }

  &__feedback {
    display: flex;
    flex-direction: column;

    margin-bottom: $gap-sm;

    &-phone {
      margin-bottom: $gap;

      @extend %placeholder-form;
      @extend %entry-field;
    }

    &-email {
      margin-bottom: $gap-sm;

      @extend %placeholder-form;
      @extend %entry-field;
    }
  }

  &__actions {
    &-button {
      min-width: 250px;
      min-height: 50px;
      margin: auto;

      border: none;

      @extend %button-lg;
    }
  }
}
