@use "../../../presets" as *;
@use "../../../mixins" as *;

.achievement-slider {
  &__items {
    display: flex;

    margin-bottom: $gap-lg;

    @include lg-min {
      gap: $gap-xl;
    }
    @include lg-md {
      gap: $gap;
    }
    @include md {
      justify-content: space-evenly;

      gap: $gap;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 300px;

    border-radius: 12px;
    background: $color-white;

    @include md-min {
      padding: 0 $gap-md;
    }
    @include md {
      &.-invisible {
        display: none;
      }
    }
    @include xs-min {
      height: 109px;
    }
    @include xs {
      height: 57px;
    }
  }

  &__item-link {
    display: block;

    @include xs-xx {
      height: 40px;
    }
    @include xx {
      height: 31px;
    }
  }

  &__item-image {
    width: 100%;
    height: 100%;
  }

  &__indicator {
    @include md-min {
      &.-invisible {
        display: none;
      }
    }
  }
}
