@use "../../../presets" as *;
@use "../../../mixins" as *;

.achievement {
  border-radius: 12px 12px 0 0;
  background: $color-grey-bg;

  @include md-min {
    padding: 28px 0 30px;
  }
  @include md {
    padding: 28px 0 9px;
  }

  &__title {
    margin-bottom: $gap-lg;

    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: $color-main;

    font-size: 14px;
    line-height: 1.21;
  }
}
