@use "../../../presets" as *;
@use "../../../mixins" as *;

.services-menu {
  &__list {
    @include lg {
      gap: 14px;
    }
  }

  &__link {
    &.-active {
      padding: 0.25em 0 0;

      border-bottom: 2px solid $color-white;

      @include md-min {
        color: $color-white;
      }

      @include md {
        color: $color-accent;
      }
    }
  }
}