@use "../../../presets" as *;
@use "../../../mixins" as *;

.about-team {
  overflow: hidden;

  &__container {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__picture {
    @include md-min {
      width: 100%;
    }
    @include md {
      width: 953px;
    }
  }

  &__image {
    display: block;

    @include md-min {
      width: 100%;
    }
    @include md {
      width: 953px;
    }
  }

  &__title {
    position: absolute;

    max-width: 905px;

    user-select: none;
    text-transform: uppercase;

    opacity: 0.8;
    color: $color-white;
    text-shadow: 0 15px 30px rgba(40, 40, 86, 0.8);

    line-height: 1.17;

    @include xl-min {
      letter-spacing: 63px;

      font-size: 96px;
    }
    @include xl-lg {
      margin-right: -51px;

      letter-spacing: 51px;

      font-size: 84px;
    }
    @include lg-md {
      margin-right: -37px;

      letter-spacing: 37px;

      font-size: 70px;
    }
    @include md-sm {
      margin-right: -30px;

      letter-spacing: 30px;

      font-size: 50px;
    }
    @include sm {
      margin-right: -20px;

      letter-spacing: 20px;

      font-size: 36px;
    }
  }
}
