$color-main: #323264;
$color-main-alt: #46466e;
$color-main-soft: #686887;
$color-accent: #f0145a;
$color-active-regular: #24a3ff;
$color-active-hover: #0085ff;
$color-active-acting: #006ccf;
$color-grey-bg: #f5f5fa;
$color-grey-bg-alt: #ededf7;
$color-grey-text: #b3b3ba;
$color-grey-separator: #e6e6f0;
$color-gradient: 128.63deg, $color-main 0, $color-main 73.96%, #a54b5f 100%;
$color-gradient-soft: 42deg, $color-main 15%, $color-main 51%, #7a425e 88%;
$color-gradient-red: 121.42deg, $color-accent 30.65%, #693264 107.33%;
$color-gradient-supersoft: 213deg, $color-main 12%, $color-main 57%, #643e72 87%;
$color-gradient-redtext: 90deg, $color-accent 1%, #ef8080 100%;
$color-gradient-redtext-reversed: 90deg, #ef8080 1%, $color-accent 100%;
$color-white: #ffffff;
$color-black: #000000;
