@use "../mixins" as *;
@use "../presets" as *;

.container {
  width: min(100% - $gap-xl, 1320px);
  margin-inline: auto;
}

.container--sm {
  width: min(100% - $gap-xl, 1095px);
}

.visually-hidden {
  @include visually-hidden;
}