@use "../mixins" as *;
@use "../presets" as *;

.container {
  width: min(100% - $gap-xl, 1320px);
  margin-inline: auto;
}

.container--sm {
  width: min(100% - $gap-xl, 1095px);
}

.visually-hidden {
  @include visually-hidden;
}

.indicators {
  display: flex;
  gap: 14px;
  justify-content: center;
}

.indicator {
  $size: 16px;
  width: $size;
  height: $size;
  background-color: $color-active-regular;
  border-radius: $size * 0.5;
  opacity: 0.2;

  &.-active {
    opacity: 1;
  }
}

.block {
  display: block;
}